<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="icon" href="/img/NinjaDEV2.png" type="image/x-icon">
<title>John Louie Jayme | MyPortfolio</title>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css" rel="stylesheet">
<!-- Animation -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
<!-- custom styles -->
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <a class="navbar-brand" href="#">
        <img id="navLogo" class="navbar-brand-c" src="/img/NinjaDEV2.png" alt="profilePic">
        <!-- <ul class="tag mt-2">
            <li><strong>{John Louie Jayme}</strong></li>
            <li class="small"><< Web Developer >></li>
        </ul> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#projects">Projects</a>
            </li><li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>

    </div>
</nav>

<div class="view intro-2">
    <div class="full-bg-img">
        <div class="mask flex-center">
            <div class="container white-text">
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <img id="profileRound" class="animated slideInRight" src="/img/profileBluir.jpg" alt="profilePic">
                    </div>
                    <br><br>
                    <div class="col-12 col-sm-6 col-lg-8 animated fadeInRightBig delay-1s" style="border: 2px red;">
                        <div class="new4"></div>
                        <h1 class="curlyBraceDesign">{</h1>
                        <h1 class="namePlate">Hello,&nbsp;I'm<br>
                        Louie<br>
                        Web Developer<br>
                        </h1>
                        <h1 class="curlyBraceDesign">}</h1>
                        <img class="arrowIcon" src="/img/image2vector.svg">                         
                    </div>                   
                </div>               
            </div>
        </div>
    </div>
</div>

</header>
<!-- About -->

<section id="about">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h1 class="text-center font-weight-bold wow animated fadeIn">About</h1>
            <hr class="aboutHr">
              <h5 class="text-center aboutText wow animated slideInUp">Hi I'm Louie, I am a junior back-end developer I specialize in creating reliable, fast and engaging web applications
                my goal is to make a career in fullstack web development  </h5>

          </div>
      </div>
  </div>
  <div id="about-tech">
    <div class="container wow animated fadeInLeftBig">
        <h4 class="text-center font-weight-bold animated fadeIn">Technologies and Tools I use</h1>
    </div>
    <div>
        <div class="brands wow animated zoomIn">
            <a> 
                <img src="/img/tech/html.png">
                <img src="/img/tech/javascript.png">
                <img src="/img/tech/css.png">
                <img src="/img/tech/nodejs.png">
                <img src="/img/tech/express.png">
                <img src="/img/tech/mongoDB.png">
                <img src="/img/tech/npm.png">
                <img src="/img/tech/git.png">
                <img src="/img/tech/webpack.png">
                <img src="/img/tech/postman.png">
                <img src="/img/tech/bootstrap.png">
                <img src="/img/tech/babael.png">
                <img src="/assets/img/tech/php.png">
                <img src="/img/tech/mysql.png">
            </a>
        </div>
    </div>  
</div>
</section>

<section id="projects">
    <div class="container">
        <h1 class="text-center font-weight-bold animated fadeIn">Projects</h1>
        <hr class="aboutHr">
        <div class="row">
            <div class="col-12 col-md-4"><img class="project-img img-fluid wow animated fadeInDown" src="/img/projects/examinationApp.PNG"></div>
            <div class="col-12 col-md-8"><img class="project-img img-fluid wow animated zoomIn" src="/img/projects/nutriotionMonitoringApp.PNG"></div>
            <div class="col-12 col-md-12"><img class="project-img img-fluid wow animated fadeInUp" src="/img/projects/COED.PNG"></div>
        </div>
    </div>
</section>

<br>
<div style="background-color: black;">
<section id="contact">

    <br>
    <div class="card">

        <!--Header-->
        <div class="header #212121 grey darken-3">

            <div class="row d-flex justify-content-center">
                <h3 class="white-text mb-0 py-5 font-weight-bold text-center">Let's Get In Touch!</h3>          
            </div>
            <div>
                <h6 class="white-text text-center" style="margin-top: -35px;">Something in Plan, Let's make it happen!</h6>
            </div>

        </div>
        <!--Header-->
        <div class="card-body mx-4">

            <div class="md-form">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="form104" class="form-control">
                <label for="form104">Your name</label>
            </div>
            <div class="md-form">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" id="form105" class="form-control">
                <label for="form105">Your email</label>
            </div>
            <div class="md-form">
                <i class="fas fa-tag prefix grey-text"></i>
                <input type="text" id="form106" class="form-control">
                <label for="form106">Subject</label>
            </div>
            <div class="md-form">
                <i class="fas fa-pencil-alt prefix grey-text"></i>
                <textarea id="form107" class="md-textarea form-control" rows="5"></textarea>
                <label for="form107">Your message</label>
            </div>
            <!--Grid row-->
            <div class="row d-flex align-items-center mb-3 mt-4">
            <!--Grid column-->
            <div class="col-md-12">
                <div class="text-center">
                <button type="button" class="btn btn-grey btn-rounded z-depth-1a">Send</button>
                </div>
            </div>
            <!--Grid column-->
    
            </div>
        <!--Grid row-->
      </div>
  
    </div>
  
  
  <!-- Section: form gradient -->
</section>
</div>

<!-- Footer -->
<footer class="page-footer font-small #212121 grey darken-4">

<!-- Footer Elements -->
<div class="container">
    <div class="row">
        <div class="col-12 pt-5">
            <div class="mb-5 mt-0 flex-footer-content">
            <a>
                <i class="fab fa-facebook-f fa-2x ml-md-5 px-3"> </i>
            </a>
            <a>
                <i class="fab fa-github fa-2x  mr-md-5 px-3"></i>
            </a>
            </div>
        </div>
        <div class="col-md-12 mb-5 mt-0">
            <div class="flex-footer-content">
                <button type="button" class="btn btn-outline-warning btn-rounded waves-effect text-center">My Resume</button>
            </div>
            <div class="flex-footer-content">
                <a class="fb-ic">
                    <i class="fab fa-google-plus-g cc_pointer"></i>
                    <label class="emailFooter">&nbsp; louiejayme707@gmail.com</label>
                </a>           
            </div>
        </div>
    </div>
</div>
<!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <h6>John Louie Jayme ©<strong><script>let date = new Date(); document.write(date.getFullYear())</script></strong></h6>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/js/mdb.min.js"></script>

<script>
    $( document ).ready(function() {
    new WOW().init();
});
</script>

</body>
</html>